body {
	background-image: url("graphics/background.png"); 
	
	color: #f7cd60;
}

h1 {
	color: #ffb319;
	font-size: 45px;
}

p {
	font-family: Georgia;
	margin-top: 40px;
	font-size: 25px;
	line-height: 1.5;
}

.pageTitle {
	background-image: url("graphics/pageTitle.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #ffb319;
	
	font-family: Tahoma;
	margin: auto;
	text-align: center;
	color: #ffb319;
	font-size: 50px;
	
	width: 120vh;
	padding: 5vh;
}

.info1 {
	background-image: url("graphics/info.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #f7cd60;
	
	font-family: Tahoma;
	color: #f7cd60;
	margin: auto;
	text-align: center;
	
	width: 100vh;
	padding-left: 15vh;
	padding-right: 15vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.info2 {
	background-image: url("graphics/infoBlank.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #f7cd60;
	
	font-family: Tahoma;
	color: #f7cd60;
	margin: auto;
	text-align: center;
	
	width: 120vh;
	padding: 5vh;
}

.button {
	background-color: #ffb319;
	
	border: 2px solid #73260f;
	
	font-family: Tahoma;
	color: #73260f;
	font-size: 3.5vh;
	
	text-decoration: none;
	margin: auto;
	margin-left: 2vh;
	margin-right: 2vh;
	
	
	width: 30vh;
	padding: 3vh;
	
	display:inline-block;
}

.button:hover {
	background-color: #5c4022;
	border: 2px solid white;
	color: white;
}
