body {
	background-image: url("graphics/background.png");
	
	color: #f7cd60;
}

p {
	font-family: Georgia;
}

.pageTitle {
	background-image: url("graphics/pageTitle.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #f7cd60;
	
	font-family: Tahoma;
	color: #f7cd60;
	margin: auto;
	text-align: center;
	font-size: 30px;
	
	width: 2000px;
	padding-left: 80px;
	padding-right: 80px;
}

.info {
	background-image: url("graphics/info.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #f7cd60;
	
	font-family: Tahoma;
	color: #f7cd60;
	margin: auto;
	text-align: center;
	font-size: 20px;
	
	width: 2000px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 10px;
}